<style type="text/css">
  #contact-footer {
    padding-top: 3rem;
  }
  #contact-footer h3 {
    margin-bottom: 3rem;
  }
  /* #contact-footer .contact-col {
    text-align: center;
  } */
  @media (max-width: 992px) {
    #contact-footer .contact-col {
      margin-bottom: 3rem;
    }
  }

</style>
<div id="contact-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Get Started</h2>
        <h3>We're here to help! Let us know how we can be of service.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12 contact-col">
        <h2>Bristol</h2>
        <p>9-10, Bath Street</p>
        <p>Bristol, BS1 6HL</p>
        <p>Tel: +44 (0)117 911 6390</p>
        <iframe 
          src="https://www.google.com/maps/embed/v1/place?q=Bath%20Street,Bristol,BS1 6HL,%20UK
          &zoom=15
          &key=AIzaSyCJ4KFOEtCJH_UqzGT82VkGOZYI_ZMeXMw">
        </iframe>
      </div>
    <div class="col-lg-4 col-12 contact-col">
      <h2>London</h2>
      <p>4th Floor, Capital House, 42 Weston Street</p>
      <p>London, SE1 3QD</p>
      <p>Tel: +44 (0)117 911 6390</p>
      <iframe src="https://www.google.com/maps/embed/v1/place?q=42 Weston Street,London,SE1 3QD,%20UK
        &zoom=15
        &key=AIzaSyCJ4KFOEtCJH_UqzGT82VkGOZYI_ZMeXMw">
      </iframe>
    </div>
    <div class="col-lg-4 col-12 contact-col">
      <h2>Get in Contact</h2>
      <p>
        <small>Note to recruitment agencies: We have a trusted group of suppliers, partners and people within our network who help us source the best talent. We are not currently looking to change this approach.</small>
      </p>
      <a class="btn btnteal" href="{{ site.baseurl }}/form/">Talk to Us</a>
    </div>
  </div>
</div>