<style type="text/css">
  /* Hide the hero to let all
  the elements load quietly... */
  #hero {
    visibility: hidden;
  }

  #hero.js-loading *,
  #hero.js-loading *:before,
  #hero.js-loading *:after {
    animation-play-state: paused !important;
  }
  .hero {
    text-align: center;
    color: #000;
    background: url("{{site.baseurl}}/img/cloudsbanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
  }
  @media (max-width: 576px) {
    .hero {
      background-image: url("{{site.baseurl}}/img/mobile/cloudsbanner.png");
    }
  }
  span {
    color: #04b486;
  }
  .header {
    opacity: 0;
  }
  @media (max-height: 576px) {
    h1 {
      font-size: 1.7rem !important;
    }
    h5 {
      display: none;
    }
  }
  .hero h1 {
    color: #262626;
    position: relative;
    z-index: 1;
  }
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2rem;
    }
  }
  .hero h5 {
    position: relative;
    z-index: 1;
  }
  .hero .title-container {
    position: relative;
    height: 141px;
  }
  @media (max-width: 576px) {
    header.hero {
      background-position: 54% 80px;
    }
    .hero .title-row {
      height: 100%;
    }
  }
  .hero .row {
    justify-content: center;
  }
  .hero img {
    width: 100%;
  }
  .animation-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 30px;
  }
  .green {
    background-color: #04b486;
  }
  .pink {
    background-color: #d01f62;
  }
  .black {
    background-color: #3e3e3e;
  }
  .circle {
    border-radius: 60px;
    position: absolute;
  }
  .left-circle {
    top: 700px;
    left: 13px;
    width: 50px;
    /*height: 600px;*/
    border-radius: 60px;
    /*top: 103px;*/
    height: 50px;
  }
  .top-circle {
    left: 76px;
    top: 700px;
    width: 50px;
    height: 50px;
  }
  .right-circle {
    top: 700px;
    left: 138px;
    width: 50px;
    border-radius: 60px;
    height: 50px;
  }
  .arm-wrapper {
    display: flex;
    width: 200px;
    height: 100px;
  }
  .arm {
    height: 30px;
    width: 100px;
    border-radius: 30px;
  }
  .merge-right {
    position: absolute;
    right: 18px;
    top: 1578px;
    transform: rotate(-30deg);
  }
  .merge-left {
    position: absolute;
    top: 1578px;
    left: 18px;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    transform: rotate(30deg);
  }
  .logo-wrapper {
    height: 187px;
    transform: rotate(570deg);
  }
  .second {
    position: relative;
    top: -37px;
    right: -38px;
    transform: rotate(120deg);
  }
  .third {
    position: relative;
    top: -136px;
    right: 37px;
    transform: rotate(-120deg);
  }
  .people-wrapper {
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
  }
  .lines-canvas {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .person-wrapper {
    background-size: cover;
    border-radius: 50%;
    position: absolute;
  }
  .person {
    position: relative;
    bottom: 50%;
    right: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .large-person {
    width: 120px;
    height: 120px;
  }
  .mid-person {
    width: 80px;
    height: 80px;
  }
  .small-person {
    width: 55px;
    height: 55px;
  }
  @media (max-width: 576px) {
    .small-person {
      width: 50px;
      height: 50px;
    }
    .mid-person {
      width: 50px;
      height: 50px;
    }
    .large-person {
      width: 80px;
      height: 80px;
    }
  }
  .person-wrapper-main {
    position: absolute;
    left: 54%;
    top: 54%;
  }
  .person-one .person {
    background-image: url('{{ site.baseurl }}/img/peoplemap/8.jpg');
    background-size: cover;
  }
  .person-two .person {
    background-image: url('{{ site.baseurl }}/img/peoplemap/12.jpg');
    background-size: cover;
  }
  .person-three .person {
    background-image: url('{{ site.baseurl }}/img/peoplemap/3.jpg');
    background-size: cover;
  }
  .person-four .person {
    background-image: url('{{ site.baseurl }}/img/peoplemap/4.jpg');
    background-size: cover;
  }
  .person-five .person {
    background-image: url('{{ site.baseurl }}/img/peoplemap/5.jpg');
    background-size: cover;
  }
  .person-six .person {
    background-image: url('{{ site.baseurl }}/img/peoplemap/6.jpg');
    background-size: cover;
  }
  .person-seven .person {
    background-image: url('{{ site.baseurl }}/img/peoplemap/7.jpg');
    background-size: cover;
  }
  .label-wrapper {
    position: relative;
    width: 290px;
    text-align: left;
  }
  @media (max-width: 576px) {
    .label-wrapper {
      display: none;
    }
  }
  .large-person .label-wrapper {
    left: 80px;
    top: -160px;
    font-size: 1.4rem;
  }
  .mid-person .label-wrapper {
    left: 49px;
    top: -110px;
  }
  .small-person .label-wrapper {
    top: -82px;
    left: 37px;
    font-size: .8rem;
  }
  .label-name {
  }
  .label-position {
  }
  .tags {
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
  }
  .tags span {
    color: white !important;
    background-color: #04b486;
    margin-right: 1rem;
    padding: .4em .6em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
  }
  .heart {

  }
  .connection-wrapper {
    height: 80%;
    width: 100%;
    position: absolute;
    left: 0;
  }
  @media (max-width: 576px) {
    .connection-wrapper {
      height: 65%;
      top:  20%;
    }
    .people-wrapper {
      height: 65%;
      top: 20%;
    }
  }
  .connection {
    stroke: white;
    stroke-width: 4;
    stroke-dasharray: 12, 12;
    position: relative;
    z-index: 0;
    stroke-linecap: round;
    animation: dash 1s linear;
    animation-iteration-count: infinite;
  }
  .spotlight {
    stroke-width: 4;
    stroke: #04b486;
    fill: transparent;
    stroke-dasharray: 14, 10;
    stroke-linecap: round;
    animation: dash 1.4s linear;
    animation-iteration-count: infinite;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 24;
    }
  }
  
</style>
<div id="hero" class="hero">
  
  <div class="container-fluid title-container">
    <div class="row title-row">
      <div class="col-12">
        <h1 class="header">Account Intelligence and Insight<span>.</span></h1>
        <h5 class="header">Uncover game changing insights.</h5>
      </div>
    </div>
  </div>
  <div class="animation-wrap">

    <div class="logo-wrapper">
      <div class="circle pink left-circle"></div>
      <div class="circle green top-circle"></div>
      <div class="circle black right-circle"></div>
      <div class="arm-wrapper">
        <div class="arm arm-left green merge-left"></div>
        <div class="arm arm-right green merge-right"></div>
      </div>
      <div class="arm-wrapper second">
        <div class="arm arm-left black merge-left"></div>
        <div class="arm arm-right black merge-right"></div>
      </div>
      <div class="arm-wrapper third">
        <div class="arm arm-left pink merge-left"></div>
        <div class="arm arm-right pink merge-right"></div>
      </div>
    </div>
  </div>
  <div class="animation-wrap">
    <svg class="connection-wrapper">
      <line class="connection line-three" />
      <line class="connection line-four" />
      <line class="connection line-five" />
      <line class="connection line-six" />
      <line class="connection line-seven" />
      <circle class="spotlight"></circle>
    </svg>
    <div class="people-wrapper">
      <div class="small-person person-wrapper person-one">
        <div class="person"></div>
        <div class="label-wrapper">
          <div class="label-name">Susie</div>
          <div class="label-position">CIO</div>
          <div class="tags">
            <span>ai & machine learning</span>
          </div>
        </div>
      </div>
      <!-- <div class="person-wrapper person-two">
        <div class="person"></div>
      </div>   -->
      <div class="mid-person person-wrapper person-three">
        <div class="person"></div>
        <div class="label-wrapper">
          <div class="label-name">Goeff</div>
          <div class="label-position">Chief Infastructure Architect</div>
          <div class="tags">
            <span>Reliability & Uptime</span>
          </div>
        </div>
      </div>
      <div class="large-person person-wrapper-main person-four">
        <div class="person"></div>
        <div class="label-wrapper">
          <div class="label-name">Sarah</div>
          <div class="label-position">Innovation Officer</div>
          <div class="tags">
            <span>Product Prototyping</span>
          </div>
        </div>
      </div>
      <div class="small-person person-wrapper person-five">
        <div class="person"></div>
        <div class="label-wrapper">
          <div class="label-name">Li Wei</div>
          <div class="label-position">Chief Innovation Officer</div>
          <div class="tags">
            <span>IoT & Computer Vision</span>
          </div>
        </div>
      </div>
      <div class="mid-person person-wrapper person-six">
        <div class="person"></div>
        <div class="label-wrapper">
          <div class="label-name">Mia</div>
          <div class="label-position">Head of Cyber Security</div>
          <div class="tags">
            <span>Protecting End Users</span>
          </div>
        </div>
      </div>
      <div class="mid-person person-wrapper person-seven">
        <div class="person"></div>
        <div class="label-wrapper">
          <div class="label-name">Reuben</div>
          <div class="label-position">CTO</div>
          <div class="tags">
            <span>Cloud Migration</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">

  var heroEl = document.getElementById('hero');

  heroEl.classList.add('js-loading');
  window.addEventListener('load', showPage);
  function showPage() {
    document.body.classList.remove('js-loading');
  }

  var windowHeight = window.innerHeight - 90;
  heroEl.style.height = windowHeight+'px';
  window.addEventListener('resize', () => {
    windowHeight = window.innerHeight - 90;
    heroEl.style.height = windowHeight+'px';
  });

  // Load the hero with a small delay
  // to let all the elements load quietly...
  setTimeout( () => {
    heroEl.style.visibility = 'visible';
  }, 100);
  
  // Brand animation start...
  var heroAnim = new Mover('hero');

  heroAnim.go({
    className: 'connection-wrapper',
    property: 'opacity',
    value: '0',
    delay: 1
  });
  heroAnim.go({
    className: 'people-wrapper',
    property: 'opacity',
    value: '0',
    delay: 1
  });

  heroAnim.go({
    className: 'right-circle', 
    property: 'top', 
    value: '103px', 
    delay: 1000, 
    transition: '3s'
  });
  heroAnim.go({
    className: 'logo-wrapper', 
    property: 'transform', 
    value: 'rotate(10170deg)', 
    delay: 1000, 
    transition: '6s cubic-bezier(1, -0.28, 0.1, 1.00)'
  });
  heroAnim.go({
    className: 'left-circle', 
    property: 'top', 
    value: '103px', 
    delay: 1300, 
    transition: '3s'
  });
  heroAnim.go({
    className: 'top-circle', 
    property: 'top', 
    value: '-3px', 
    delay: 1600, 
    transition: '3s'
  });
  heroAnim.go({
    className: 'right-circle', 
    property: 'height', 
    value: '50px', 
    delay: 2200, 
    transition: '3s'
  });
  heroAnim.go({ 
    className: 'left-circle',
    property: 'height',
    value: '50px',
    delay: 2500,
    transition: '3s'
  });
  heroAnim.go({
    className: 'top-circle',
    property: 'height', 
    value: '50px', 
    delay: 2800,
    transition: '3s'
  });
  heroAnim.go({
    className: 'merge-right', 
    property: 'top', 
    value: '39px', 
    delay: 3300, 
    transition: '3s ease-in-out'
  });
  heroAnim.go({
    className: 'merge-left', 
    property: 'top', 
    value: '38px', 
    delay: 3900, 
    transition: '3s ease-in-out'
  });
  heroAnim.go({
    className: 'header', 
    property: 'opacity', 
    value: '1', 
    delay: 6000, 
    transition: '3s'
  });

  heroAnim.go({
    className: 'logo-wrapper',
    property: 'opacity',
    value: '0',
    delay: 8000,
    transition: '1s'
  });

  heroAnim.go({
    className: 'connection-wrapper',
    property: 'opacity',
    value: '1',
    delay: 9000,
    transition: '1s'
  });
  heroAnim.go({
    className: 'people-wrapper',
    property: 'opacity',
    value: '1',
    delay: 9000,
    transition: '1s'
  });
  // Brand animation end

  // y = top
  // x = left

  var positionAvatars = function() {

    var params = {
      one:  { top: '88%', left: '31%'},
      two: { top: '94%', left: '62%'},
      three: { top: '77%', left: '76%'},
      five: { top: '42%', left: '66%'},
      six: { top: '30%', left: '37%'},
      seven: { top: '44%', left: '20%'},
      main: { top: '60%', left: '50%'},
      circle: { r: '65'}
    }

    if(window.innerWidth < 576) {
      params.circle.r = '43';
    }

    d3.select('.line-seven')
      .attr('y1', params.seven.top)
      .attr('x1', params.seven.left)
      .attr('y2', params.main.top)
      .attr('x2', params.main.left);
    d3.select('.line-six')
      .attr('y1', params.six.top)
      .attr('x1', params.six.left)
      .attr('y2', params.main.top)
      .attr('x2', params.main.left);
    d3.select('.line-five')
      .attr('y1', params.three.top)
      .attr('x1', params.three.left)
      .attr('y2', params.six.top)
      .attr('x2', params.six.left);
    d3.select('.line-four')
      .attr('y1', params.six.top)
      .attr('x1', params.six.left)
      .attr('y2', params.five.top)
      .attr('x2', params.five.left);
    d3.select('.line-three')
      .attr('y1', params.three.top)
      .attr('x1', params.three.left)
      .attr('y2', params.one.top)
      .attr('x2', params.one.left);

    d3.select('.spotlight')
      .attr('cy', params.main.top)
      .attr('cx', params.main.left)
      .attr('r', params.circle.r);

    d3.select('.person-wrapper-main')
      .style('top', params.main.top)
      .style('left', params.main.left);

    d3.select('.person-one')
      .style('top', params.one.top)
      .style('left', params.one.left);
    d3.select('.person-three')
      .style('top', params.three.top)
      .style('left', params.three.left);
    d3.select('.person-five')
      .style('top', params.five.top)
      .style('left', params.five.left);
    d3.select('.person-six')
      .style('top', params.six.top)
      .style('left', params.six.left);
    d3.select('.person-seven')
      .style('top', params.seven.top)
      .style('left', params.seven.left);
  }
  positionAvatars();
  window.addEventListener('resize', positionAvatars)();
</script>